* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header {
    height: 3em;
    padding: 0 1em;
    background-color: #eee;
    display: flex;
}

button {
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}

.fa-bars {
    font-size: 2em;
}

.navigation {
    width: 20%;
    padding: 0.5em;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-list-item {
    background-color: #808080;
    height: 2em;
    margin-top: 0.5em;
}

.nav-list-link {
    display: block;
    color: white;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.5em;
}

@media screen and (min-width: 600px) {
    button {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .main {
        display: none;
    }
}