* {
    box-sizing: border-box;
}

.figure {
    margin-bottom: 50px;
    margin-left: 50px;
}

.rectangle {
    margin-top: 50px;
    width: 100px;
    height: 50px;
    background-color: forestgreen;
    border-radius: 16px;
}

.oval {
    width: 100px;
    height: 50px;
    background-color: darkmagenta;
    border-radius: 50%;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border-radius: 50%;
}

.triangle {
    width: 100px;
    height: 100px;
    border: 50px solid transparent;
    border-top-color: brown;
}