/* Error: Expected identifier.
 *    ,
 * 37 |             &hover:{
 *    |                    ^
 *    '
 *   styles\header.scss 37:20  @import
 *   styles\index.scss 1:8     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a    \2577 \a 37 \2502              &hover:{\d\a    \2502                     ^\a    \2575 \a   styles\\header.scss 37:20  @import\a   styles\\index.scss 1:8     root stylesheet";
}
