   body {
       padding: 0;
       margin: 0;
   }
   
   header {
       background-color: darkturquoise;
       height: 40px;
       position: fixed;
       top 0;
       left: 0;
       right: 0;
       background-color: darkturquoise;
       z-index: 2;
   }
   
   nav {
       height: 40px;
       display: flex;
       align-items: center;
   }
   
   li {
       list-style: none;
   }
   
   .nav-list {
       display: flex;
       flex-direction: row;
   }
   
   .nav-item {
       display: flex;
       align-items: center;
       height: 40px;
       margin-left: 16px;
       color: white;
   }
   
   main {
       background-color: beige;
       height: 5000px;
       display: flex;
       justify-content: center;
   }
   
   .head {
       display: flex;
       width: 200px;
       height: 200px;
       background-color: aquamarine;
       position: relative;
       top: calc( 50vh - 100px);
       z-index: 1;
   }
   
   .ear {
       width: 40px;
       height: 60px;
       background-color: brown;
       position: absolute;
   }
   
   .ear_right {
       top: -60px;
       left: -40px;
   }
   
   .ear_left {
       top: -60px;
       right: -40px;
   }
   
   .eye {
       width: 30px;
       height: 30px;
       border-radius: 15px;
       background-color: grey;
       position: absolute;
   }
   
   .eye_right {
       top: 80px;
       left: 40px;
   }
   
   .eye_left {
       top: 80px;
       right: 40px;
   }