table {
    width: 500px;
    margin: 16px;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

td,
th {
    padding: 4px;
    text-align: right;
    height: 40px;
}

div {
    overflow-x: auto;
}

tbody>tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody>tr:hover {
    background-color: #aaa;
    color: white;
}

thead {
    background-color: aqua;
    font-weight: 700;
}

caption {
    margin-bottom: 8px;
}