body {
    background-color: antiquewhite;
}

div {
    box-sizing: border-box;
}

.rectangle {
    border: 8px solid;
    padding: 16px;
    margin: 16px;
    width: 512px;
    height: 128px;
}

.rectangle1 {
    background-color: aquamarine;
}

.rectangle2 {
    background-color: azure;
}