    * {
        box-sizing: border-box;
    }
    
    body {
        display: flex;
        flex-direction: column;
        font-family: "Verdana";
        color: #555;
        font-size: 16px;
        min-height: 100vh;
    }
    
    header {
        text-align: center;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(60deg, red, orange);
    }
    
    main {
        flex: 1 0 auto;
    }
    
    footer {
        flex: 0 0 auto;
        text-align: center;
        background-color: #e5e5e5;
        padding: 0.5em;
    }
    
    .navigation {
        padding: 0.5em;
        width: 20%;
    }
    
    .main {
        display: flex;
        flex-direction: row;
    }
    
    .section {
        font-size: 1.25em;
        padding: 0.5em;
        width: 60%;
    }
    
    .units-list {
        line-height: 1.75em;
    }
    
    .css-units {
        color: #8b0000;
        background-color: #e5e5e5;
        font-size: 1.125em;
        font-weight: 700;
    }
    
    .section__header {
        font-size: 5vw;
        text-align: center;
    }
    
    .nav-list {
        padding: 0;
        list-style: none;
    }
    
    .nav-list-item {
        display: flex;
        align-items: center;
        background-color: #808080;
        color: #fff;
        height: 2em;
        margin-bottom: 0.5em;
    }
    
    .nav-list-link {
        padding: 0 0.5em;
        display: block;
        text-decoration: none;
        color: #fff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .news {
        padding: 0.5em;
        width: 20%;
    }
    
    img {
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        max-width: 100%;
    }
    
    @media screen and (min-width: 599px) {
        .image__small {
            display: none;
        }
        .image__big {
            display: block;
        }
    }
    
    @media screen and (max-width: 600px) {
        .main {
            flex-direction: column;
        }
        * {
            min-width: 100%;
        }
    }
    
    @media screen and (min-width: 600px) and (max-width: 900px) {
        .navigation {
            min-width: 20%;
        }
        .main {
            flex-wrap: wrap;
        }
        .section {
            min-width: 80%;
        }
        .news {
            flex-grow: 1;
        }
    }