* {
    box-sizing: content-box;
}

.rectangle {
    margin: 50px;
    border: 2px solid black;
}

.rectangle1 {
    height: 400px;
    background-color: blue;
}

.rectangle2 {
    height: 300px;
    background-color: yellow;
}

.rectangle3 {
    height: 200px;
    background-color: green;
}

.rectangle4 {
    height: 100px;
    background-color: pink;
}