    html {
        font-family: Roboto, sans-serif;
        font-size: 18px;
    }
    
    body {
        margin: 32px;
    }
    
    h1 {
        word-spacing: 20px;
        text-align: center;
        text-transform: uppercase;
    }
    
    p {
        line-height: 28px;
    }
    
    b {
        font-weight: 900;
        letter-spacing: 3px;
        font-size: 24px;
        opacity: 80%;
        text-decoration: underline;
    }
    
    a {
        text-decoration: none;
    }
    
    em {
        color: grey;
    }