.button {
    margin: 64px;
    width: 200px;
    height: 50px;
    vertical-align: middle;
    background-color: coral;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    border: none;
    cursor: pointer;
    line-height: 50px;
    padding: 0;
}

.button:hover {
    color: darkcyan;
}

.button:hover>.bird-svg {
    fill: green;
}

.bird-svg {
    width: 32px;
    height: 32px;
    fill: white;
    vertical-align: middle;
}