    * {
        box-sizing: border-box;
    }
    
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #555;
        font-size: 16px;
    }
    
    .header {
        display: flex;
        background: linear-gradient(60deg, red, orange);
        align-items: center;
        justify-content: center;
        color: white;
    }
    
    .main {
        /* flex: 1 0 auto; */
        display: flex;
        flex-direction: row;
    }
    
    .footer {
        background-color: #e5e5e5;
        padding: 0.5em;
        text-align: center;
        /* flex: 0 0 auto; */
    }
    
    .navigation {
        padding: 0.5em;
        width: 20%;
    }
    
    .section {
        padding: 0.5em;
        width: 60%;
        font-size: 1.25em;
    }
    
    .section__header {
        font-size: 5vw;
        text-align: center;
    }
    
    .units-list {
        line-height: 1.75em;
    }
    
    .css-units {
        color: #8b0000;
        background-color: #e5e5e5;
        font-size: 1.125em;
        font-weight: 700;
    }
    
    .news {
        padding: 0.5em;
        width: 20%;
    }
    
    .nav-list {
        list-style-type: none;
        padding: 0;
    }
    
    .nav-list-item {
        display: flex;
        background-color: #808080;
        color: white;
        height: 2em;
        margin-bottom: 0.5em;
        align-items: center;
    }
    
    .nav-list-link {
        padding-left: 0.5em;
        padding-right: 0.5em;
        text-decoration: none;
        color: white;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }